<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Forgot Password</h2>
            <form action="forgot_password_process.php" method="POST">
             <label for="email">Enter your email to reset password:</label>
             <input type="email" id="email" name="email" required><br><br>
        
             <input type="submit" value="Reset Password">

              </form>
     </div>     
</body>

</html>
