* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #f7f2fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #ffffff;
    border: 2px solid #b97cda;
    border-radius: 16px;
    padding: 40px 50px;
    box-shadow: 0 0 15px rgba(185, 124, 218, 0.3);
    width: 350px;
    text-align: center;
}

.login-container h2 {
    color: #630375;
    margin-bottom: 25px;
    font-size: 26px;
}

.form-control {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #630375;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #b97cda;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}

button[type="submit"] {
    margin-top: 15px;
    background-color: #b97cda;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #630375;
    transform: scale(1.05);
}

.login-container p {
    margin-top: 15px;
    font-size: 14px;
}

.login-container a {
    color: #b97cda;
    font-style: italic;
}

.login-container a:hover {
    text-decoration: underline;
}
